.contest__intro {
  background-color: #ffffff;
}

.contest__heading-title {
  .contacts();
  padding-top: 36px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 51px;
  color: #ffffff;
}

.contest__form {
  margin-left: 22px;
  margin-right: 22px;
  margin-bottom: 44px;
}

.contest__operation-system {
  background-color: #f2f2f2;
}

.contest__submit {
  background-color: #ffffff;
}

.contest button {
  background-color: #2aab6d;
  color: #ffffff;
  .font auth();
  text-transform: uppercase;
  margin-top: 52px;
  margin-left: 22px;
  margin-right: 22px;
  margin-bottom: 52px;
  padding-top: 23px;
  padding-left: 65px;
  padding-bottom: 23px;
  padding-right: 65px;
  text-align: center;
}

.contest__about {
  .font rev();
  padding-top: 54px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 55px;
  color: #283645;
}

.contest__achievements {
  background-color: #f2f2f2;
}

.contest__contacts {
  background-color: #ffffff;
}
