.contacts {
  display: flex;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

.contacts__title {
  .font();
  padding-top: 54px;
  padding-left: 49px;
  padding-right: 49px;
  color: #283645;
}

.contacts__list {
  padding-left: 40px;
  padding-right: 39px;
  padding-top: 41px;
}

.contacts__item {
  color: #283645;
}

.contacts__tel {
  .contacts();
  padding-top: 13px;
  padding-bottom: 31px;
}

.contacts__address {
  .contacts();
  padding-top: 13px;
  padding-bottom: 31px;
}

.contacts__link-mail {
  .contacts();
  padding-top: 13px;
  padding-bottom: 74px;
}

.contacts__wrapper {
  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    display: block;
    padding-left: 49px;
    padding-bottom: 18px;
    padding-right: 67px;
    padding-top: 55px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    background-color: #ffffff;
    display: block;
    padding-left: 177px;
    padding-bottom: 20px;
    padding-right: 160px;
    padding-top: 74px;
  }
}

  .contacts__map {
    background-color: #ffffff;
    min-width: 660px;
    min-height: 374px;
  }
}


@media (min-width: @desktop-width) {
  .contacts__map {
    background-color: #ffffff;
    min-width: 1200px;
    min-height: 502px;
  }
}
