.download {
  padding: 0;
  margin: 0;
  background-color: #1d2631;
  color: #ffffff;
}

.download__slogan {
  .font();
  padding-left: 50px;
}

.download__button {
  .font load();
  color: #ffffff;
}

.download__list {
  padding-left: 58px;
  padding-top: 32px;
  padding-right: 58px;
  padding-bottom: 28px;
}

.download__item {
  padding-right: 35px;
}

.download__item:nth-child(3n) {
  padding-right: 0;
}

.download__availability {
  .font p();
  color: #ffffff;
}

.download__wrapper {
  @media (min-width: @desktop-width) {
    margin: auto;
    max-width: 1060px;
    display: flex;
    align-items: left;
  }
}
