.photo {
  background-color: #ffffff;
}

.photo-heading {
  .contacts();
  color: #ffffff;
}

.post__content {
  .font rev();
  color: #283645;
  padding-top: 54px;
  padding-left: 20px;
  padding-bottom: 60px;
  padding-right: 20px;
}

.photo__list {
  background-color: #ffffff;
  margin: 20px;
}

.post__author {
  .font p();
  font-weight: 700;
  color: #283645;
}

.post__time {
  .post();
  color: #283645;
}

.post__like {
  .post();
  color: #d22856;
}

.upload {
  background-color: #f2f2f2;
  margin: 20px 20px 41px 20px;
}

.upload__submit button {
  .item cont();
  line-height: 18px;
  color: #d22856;
}
